<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/double-check.svg')}}" type="image/svg+xml">
  <!-- Poppins -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <!-- Roboto Slab -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages-navigation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/user-account-button.css') }}">
  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>


  {% block head %}

  {% endblock %}
</head>

<body>
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% for message in messages %}
  <section class="message {{ message[0] }}">
    {{ message[1] }}
  </section>
  {% endfor %}
  {% endwith %}

  <header>
    {% if not current_user.is_authenticated %}
    <div class="logo">
      <a href="{{ url_for('view.index')}}" class="active">
        {% include 'partials/logo.html' %}
      </a>
    </div>
    {% include 'partials/pages-navigation.html' %}
    {% else %}
    <div class="logo">
      {% include 'partials/logo.html' %}
    </div>
    {% include 'partials/user-account-button.html' %}
    {% endif %}
  </header>

  <main>
    {% block content %}

    {% endblock %}
  </main>

  <footer>
  </footer>

  {% block javascript %}

  {% endblock %}
</body>

</html>