{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/board.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/add-modal.css')}}">
{% endblock %}

{% block content %}

<section class="board-menu">
  <section class="search-bar">
    <form hx-get="{{ url_for('task.search') }}" hx-target=".task-wrapper" hx-trigger="keyup delay:500ms"
      onkeydown="return event.key != 'Enter';">
      <!--O onkeydown verifica se a tecla pressionada foi a tecla ENTER. Se foi, o evento retorna false, o que cancela a submissão do formulário. -->
      <label for="">Procurar:</label>
      <input type="search" name="text-to-search">
    </form>
  </section>
  <section class="action-buttons">
    <button class="filter-task-button">
      Filtrar
    </button>
    <button class="add-task-button" hx-get="{{ url_for('form.add_task_form')}}" hx-trigger="click"
      hx-target=".task-wrapper">
      Adicionar
    </button>
  </section>
</section>

<section class="task-wrapper" hx-get="{{ url_for('task.get')}}" hx-trigger="load" hx-target="this">
  {% include "partials/task-container.html" %}
</section>


{% block javascript %}
<script src="{{ url_for('static', filename='javascript/board.js')}}"></script>
{% endblock %}

{% endblock %}