{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/board.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/add-modal.css')}}">
{% endblock %}

{% block content %}

<section class="board-menu">
  <section class="search-bar">
    <h2>Procurar:</h2>
    <input type="search" placeholder="Palavra-chave">
    <button>
      <img src=" {{ url_for('static', filename='img/search.svg')}}" alt="" srcset="">
    </button>
  </section>
  <section class="action-buttons">
    <button class="filter-task-button">
      Filtrar
    </button>
    <button class="add-task-button">
      Adicionar
    </button>
  </section>
</section>



<section class="task-wrapper">
  {% include "partials/task-container.html" %}
</section>

<!-- Modal com o Formulário das Tarefas -->
<template class=" add-task-template">
  <div class="modal-container">
    <section class="add-task-modal">
      <h1>Adicionar Task</h1>
      <form action="/add_task" method="POST">
        {% for field in form if field.name not in ["csrf_token", "submit"] %}
        <div class="field-wrapper">
          {{ field.label }}
          {{ field }}
        </div>
        {% endfor %}
        {{form.submit}}
        {{ form.csrf_token}}
        {{ form.hidden_tag()}}
      </form>
    </section>
  </div>
</template>


{% block javascript %}
<script src="{{ url_for('static', filename='javascript/board.js')}}"></script>
{% endblock %}

{% endblock %}