{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<section class="container">

  <h1>Taskmaster</h1>

  <p>
    Não deixe suas tarefas se acumularem. Experimente nosso sistema de gerenciamento de tarefas hoje e descubra como a
    organização pode transformar sua vida diária. Comece a alcançar seus objetivos de forma mais eficiente e desfrute de
    uma rotina mais tranquila e produtiva!
  </p>

  <img src="{{ url_for('static', filename='img/teaser_image_2.png')}}" alt="">

  <button class="register-button"><a href="{{ url_for('auth.register') }}">Quero fazer cadastro agora!</a></button>

</section>
{% endblock %}