{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<section class="container">
  <form action="{{ url_for('auth.login')}}" method="POST" class="login-form">
    <h1>Login</h1>
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ["csrf_token", "submit"] %}
    <section class="field-wrapper">
      {{ field.label }}
      {{ field(placeholder=field.name) }}
    </section>
    {% endfor %}
    {{ form.submit }}
  </form>
  <a href="{{ url_for('auth.register') }}">Não possui uma conta? Registre-se aqui.</a>
</section>
{% endblock %}

{% block javascript %}
<script src="../static/javascript/login_button_change.js"></script>
{% endblock %}