{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<section class="container">
	<form action="/login" method="POST">
		{% with messages = get_flashed_messages(with_categories=True) %}
		{% for message in messages %}
		<section class="message {{ message[0] }}">
			{{ message[1] }}
		</section>
		{% endfor %}
		{% endwith %}

		{% for field in form if field.name not in ["csrf_token", "submit"] %}
		<section class="field-wrapper">
			{{ field.label }}
			{{ field }}
		</section>
		{% endfor %}
		{{ form.submit }}
		{{form.hidden_tag()}}
	</form>
	<section>
		<a href="{{ url_for('auth.register') }}">Não possui uma conta? Registre-se aqui.</a>
	</section>
</section>
{% endblock %}