{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/forms.css') }} ">
{% endblock %}

{% block content %}
<section class="container">
  <form action=" {{ url_for('auth.register') }} " method="POST" class="register-form">
    <h1>Cadastro</h1>
    {% for field in form if field.name not in ["csrf_token", "submit"] %}
    <section class="field-wrapper">
      {{ field.label }}
      {{ field(placeholder=field.name)}}
    </section>
    {% endfor %}
    {{ form.submit}}
    {{ form.csrf_token}}
    {{ form.hidden_tag()}}
  </form>
</section>
</section>
{% endblock %}


{% block javascript %}
<script src="../static/javascript/register_submit_button.js"></script>
{% endblock %}