{% for task in tasks %}
<section class="task">
  <section class="task-header">
    <h3>{{ task.title }}</h3>
    <button class="task-config-btn">
      <!-- Delete Task  -->
    </button>
  </section>
  <hr>
  <section class="task-info">

    <section class="task-desc">
      <p>
        {{ task.description }}
      </p>
    </section>
    <section class="task-bottom">
      <span class="task-due-date">
        {% if task.due_date %}
        {{ task.due_date.date() }}
        {% else %}
        Sem data
        {% endif %}
      </span>
      <span class="task-status">
        {% if TaskStatus(task.status).name == "NOT_STARTED" %}
        <p class="not-started">Não comecei</p>
        {% elif TaskStatus(task.status).name == "DOING" %}
        <p class="doing">Fazendo</p>
        {% elif TaskStatus(task.status).name == "FINISHED" %}
        <p class="finished">Finalizdo</p>
        {% endif %}
      </span>
    </section>
  </section>

  <section class="task-config">
    <section class="config-button-wrapper">
      <button class="edit-task-btn" hx-get="{{ url_for('task.get_update_form', user_id=task.id) }}" hx-target=".edit-modal-container"
        hx-swap="outerHTML">
        Editar
      </button>

      <button class="cancel-action-btn">
        Cancelar
      </button>

      <button class="delete-task-btn" hx-delete="{{ url_for('task.delete', user_id=task.id) }}" hx-target=".task-wrapper"
        hx-vals='{"csrf_token": "{{ csrf_token() }}"}'>
        Deletar
      </button>

    </section>
  </section>
</section>
{% else %}
<h1 class="empty-task-wrapper-text">Não há tarefas</h1>
{% endfor %}
