<!-- Esse HTML é um partials que será adicionado dinâmicamente -->
<button class="account-button">
  <img src="../../static/img/person.svg" alt="">
</button>

<!-- HTMX doesn't work inside template tag -->
<section class="floating-menu-container hide">
  <h1>{{ current_user.username }}</h1>
  <ul>
    <li>
      <button hx-get="{{ url_for('auth.logout') }}" class="logout-button">
        Sair
      </button>
    </li>
    <li>
      <button hx-delete="{{ url_for('auth.delete_account', user_id=current_user.id) }}" hx-vals='{"csrf_token": "{{ csrf_token() }}"}' class="delete-account-button">
        Excluir conta
      </button>
    </li>
  </ul>
</section>
