* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --page-background: #A6C9F3;
    --subtle-text: #AFAFAF;
    --container: #FDFDFD;
    --error-text: rgb(240, 85, 85);
    --close-button: rgb(240, 85, 85)
}

html {
    font-size: 18px;
}

body {
    background-color: var(--page-background);
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--container);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    padding: 0 20px;

    .logo {
        a {
            display: flex;
            align-items: center;

            user-select: none;
            color: black;
            text-decoration: none;

            h1 {
                font-weight: 600;
                margin-left: 3rem;
            }

            svg {
                width: 32px;
                height: 32px;
            }
        }

        a:link {
            color: black;
            text-decoration: none;
        }
    }


    ul {
        display: flex;
        flex-direction: row;

        margin-left: auto;
        list-style: none;
        gap: 3rem;

        a {
            color: black;
            font-weight: 500;

            padding: 0 1rem;

            text-decoration: none;

            transition: all 0.3s ease;
        }

        a:hover {
            letter-spacing: 5px;
        }

        a::before {
            content: "<";
        }

        a::after {
            content: ">";
        }

    }
}


.alert, .error, .success {
    text-align: center;
    padding: 5px 0;
    width: 100%;
}

.alert {
    border: 2px solid orange;
    background-color: rgb(245, 205, 130);
}

.error {
    border: 2px solid red;
    background-color: rgb(243, 130, 130)
}

.success {
    border: 2px solid rgb(0, 255, 42);
    background-color: rgb(141, 252, 150)
}