* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --page-background: #A6C9F3;
    --subtle-text: #AFAFAF;
    --container: #FDFDFD;
    --error-text: rgb(240, 85, 85);
    --close-button: rgb(240, 85, 85)
}

html {
    font-size: 18px;
}

body {
    background-color: var(--page-background);
    font-family: "Poppins", sans-serif;
}




.message {
    text-align: center;
    padding: 5px 0;
    width: 100%;
}

.alert {
    border: 2px solid orange;
    background-color: rgb(245, 205, 130);
}

.error {
    border: 2px solid red;
    background-color: rgb(243, 130, 130)
}

.success {
    border: 2px solid rgb(0, 255, 42);
    background-color: rgb(141, 252, 150)
}