* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --page-background: #A6C9F3;
    --subtle-text: #AFAFAF;
    --container: #FDFDFD;
    --error-text: rgb(240, 85, 85);

    --close-button: rgb(240, 85, 85);


    --tomato-button: rgb(240, 85, 85);


    --error-message-border: red;
    --error-message: rgb(240, 85, 85);
    --alert-message-border: orange;
    --alert-message: rgb(245, 205, 130);
    --success-message-border: green;
    --success-message: rgb(141, 252, 150);
}

html {
    font-size: 20px;
}

body {
    background-color: var(--page-background);
    font-family: "Roboto slab", sans-serif;
}

.message {
    opacity: 80%;

    animation: fade-out 1s 5s forwards;

    position: absolute;
    top: -50px;
    left: 50%;
    translate: -50% 0;

    text-align: center;
    padding: 5px;
    width: 30%;
    border-radius: 5px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
}

.alert {
    border: 2px solid orange;
    background-color: rgb(245, 205, 130);
}

.error {
    border: 2px solid red;
    background-color: rgb(243, 130, 130)
}

.success {
    border: 2px solid green;
    background-color: rgb(141, 252, 150)
}

@keyframes fade-out {
    0% {
        opacity: 80%;
    }

    100% {
        opacity: 0%;
    }
}