main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 1rem 0;
    width: 80%;

    background-color: var(--container-background);

    padding: 0.5rem 1rem;
    border-radius: 5px;


    .search-bar {
        display: flex;
        flex-direction: row;
        align-items: center;

        form {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;

            label {
                letter-spacing: 2px;
                font-weight: 400;
            }

            input[type="search"] {
                border-radius: 50px;
                border: 1px solid #d9d9d9;
                background-color: #EEEEEE;
                padding-left: 1rem;
                color: black;
                height: 2rem;
            }

            input[type="submit"] {
                border-radius: 50px;
                border: none;
                width: 32px;
                height: 32px;

                background-image: url("../img/search.svg");
                background-size: cover;
            }
        }
    }


    .action-buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        >button {
            display: flex;
            flex-direction: row;
            align-items: center;

            border: none;
            border-radius: 50px;

            padding: 0.5rem 2rem;

            color: white;
            font-size: 1rem;
            font-weight: 700;

            /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.265);*/
        }

        >button:hover {
            cursor: pointer;
            filter: brightness(0.7);
        }

        .task-modal-button {
            background-color: var(--add-button);
        }

        .task-modal-button::after {
            display: inline-block;
            content: "";
            width: 24px;
            height: 24px;
            background-image: url("../img/bold-add.svg");
            background-size: cover;
        }

        .filter-task-button {
            background-color: var(--filter-button);
        }

        .filter-task-button::after {
            display: inline-block;
            content: "";
            width: 24px;
            height: 24px;
            background-image: url("../img/filter.svg");
            background-size: cover;
        }
    }
}

.task-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 80vw;
    gap: 1rem;

    margin-bottom: 4rem;

    .task {
        position: relative;
        min-height: max-content;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        background-color: white;
        width: 30%;
        font-family: "Poppins", sans-serif;

        padding: 1rem;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.277);

        border-radius: 5px;


        .task-header {
            display: flex;
            justify-content: space-between;

            >button {
                background-image: url("../img/red-trash.svg");
                background-size: cover;
                background-color: transparent;

                border: none;

                width: 24px;
                height: 24px;

                transition: all 200ms ease-in-out;
            }

            >button:hover {
                cursor: pointer;
                animation: shake 0.5s;
            }
        }

        .task-desc {
            color: var(--task-desc);

            hyphens: auto;

            word-wrap: break-word;
            overflow-wrap: break-word;

            width: 100%;

            margin-bottom: 2rem;
        }

        .task-bottom {
            position: absolute;
            left: 0;
            bottom: 0;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            margin-bottom: 0.5rem;
            padding: 0 1rem;

            .task-status {
                >p {
                    padding: 0 5px;
                    border-radius: 5px;

                    font-size: 0.8rem;
                }

                .not-started {
                    background-color: var(--not-started);
                }

                .doing {
                    background-color: var(--doing);
                }

                .finished {
                    background-color: var(--finished);
                }
            }
        }
    }

    .task-config {
        display: none;
        background-color: rgba(0, 0, 0, 0.701);

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        .config-button-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            gap: 1rem;

            >button {
                color: transparent;
                background-color: transparent;

                width: 48px;
                height: 48px;

                border: none;
            }

            >button:hover {
                cursor: pointer;
                animation: shake 0.5s;
            }

            >.delete-task-btn {
                background-image: url("../img/red-trash.svg");
                background-size: cover;
            }

            >.cancel-action-btn {
                background-image: url("../img/close_6.svg");
                background-size: cover;
            }

            >.edit-task-btn {
                background-image: url("../img/pencil.svg");
                background-size: cover;
            }
        }
    }

    .empty-task-wrapper-text {
        font-size: 2rem;
        font-weight: 300;
        color: var(--empty-task-wrapper-text);
        text-decoration: underline;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
