body {
    overflow: hidden;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    animation: lift 1s ease-in-out forwards, wide 1s ease-in-out forwards;
    width: 30%;

    margin: auto;
    background-color: var(--container-background);

    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);

    font-family: "Poppins", sans-serif;

    h1 {
        user-select: none;

        font-size: 3rem;
        font-weight: 800;

        text-align: left;

        letter-spacing: 3px;

        transition: all 200ms ease-in-out;


    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 2rem;
        width: 100%;

        .field-wrapper {
            display: flex;
            flex-direction: column;
            width: 80%;

            label {
                font-weight: 300;

            }

            input {
                font-size: 0.85rem;
                border: 2px solid rgba(0, 0, 0, 0.378);
                padding: 7px 10px;


                box-shadow: 5px 5px 1px rgb(0, 0, 0, 0.25);
            }
        }

        input[type='submit'] {
            font-size: 1rem;
            font-weight: 700;
            width: 60%;

            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;

            color: white;
            background-color: var(--login-button);

            letter-spacing: 1px;
            text-transform: uppercase;

            transition: all 0.3s ease;
        }

        input[type='submit']:hover {
            cursor: pointer;
            scale: 1.1;

            color: white;
            background-color: var(--tomato-button);
        }

        input[type='submit']:disabled {
            color: white;
            background-color: var(--disabled-button);
            cursor: default;
        }
    }

    a {
        color: black;
        text-decoration: none;
        font-size: 0.75rem;
        margin-top: 1rem;
    }

    a:link {
        color: black;
    }

    a:hover {
        color: blue;
    }
}

@keyframes lift {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;

    }
}