header {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--container);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    padding: 0 20px;

    .logo {
        a {
            display: flex;
            align-items: center;

            user-select: none;
            color: black;
            text-decoration: none;

            h1 {
                font-weight: 600;
                margin-left: 3rem;
            }

            svg {
                width: 32px;
                height: 32px;
            }
        }

        a:link {
            color: black;
            text-decoration: none;
        }
    }


    ul {
        display: flex;
        flex-direction: row;

        margin-left: auto;
        list-style: none;
        gap: 3rem;

        a {
            color: black;
            font-weight: 500;

            padding: 0 1rem;

            text-decoration: none;

            transition: all 0.3s ease;
        }

        a:hover {
            letter-spacing: 5px;
        }

        a::before {
            content: "<";
        }

        a::after {
            content: ">";
        }

    }
}